
.green-line { 
  border-left: 4px solid #0c8831; /* Green color */
  padding-left: 15px
}
.link {
    color: black
}
.link:hover {
    color: #198754
}
.card-text {
  font-size: 14px
}
.text-secondary.fw-light {
  font-size: 14px;
  padding-left: 1em;
  padding-top: 13px;
}
#featuredProjects {
  text-decoration: underline; 
  text-decoration-color: #ced4da
}
#img-display {
  height: 200px; 
}

#hover-mouse:hover::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent overlay */
  z-index: 1;
  transition: 0.5s;
}

#overlay-button {
  display: none;
}

.card:hover #overlay-button {
  display: flex;
  color: white;
  display: flex;
  position: absolute;
  align-items: center;
  top: 50%;
  left: 50%;
  justify-content: center;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: 0.5s
}

  
  


