ht.btn.btn-primary {
  background: #30ab6c; 
  border-color: #30ab6c; 
  color: white;
  font-weight: 600;
}
.btn.btn-primary:hover {
  background: #2a935d; 
  border-color: #2a935d; 
}
.btn.btn-secondary {
  font-weight: 600;
}
.text-left h1 {
  font-size: 50px;
  font-weight: 600;
}

.text-left h2 {
  font-weight: 600;
  padding-left: 15px;
  border-left: solid #30ab6c;
  border-width: 5px;
}

.custom-link {
  color: #30ab6c;
  text-decoration: none;
}
.custom-link:hover {
  color: #2a935d;
  text-decoration: underline;
}
.custom-link1 {
  color: black;
}
.custom-link1:hover {
  color: #30ab6c;
}
p {
  color: #616161;
}
.card.custom-card {
  border: none;
}
.card-body h6 {
  font-weight: 600;
}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: left;
}


